{% extends "bootstrap/base.html" %}

{% block title %}FortuneCart{% endblock %}

{% block navbar %}
<div class="Login-form">
    <form class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="username">
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="password">
        <button type="submit" class="btn btn-primary">Login</button>
        <p> Not registered? </p>
        <button type="submit" class="btn btn-primary">Create user</button>
    </form>
</div>
{% endblock %}